version: "3.7"
services:
  essl_agent:
    build: .
    image: essl_agent:latest
    container_name: essl_agent
    restart: unless-stopped
    ports:
      - "8100:8100"
    env_file:
      - ~/.env
    volumes:
      - ~/data.json:/data.json
    stop_grace_period: 30s
